<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.718447,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,46}</string>
                <key>spriteSourceSize</key>
                <string>{206,46}</string>
                <key>textureRect</key>
                <string>{{443,1},{206,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pause0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.568966}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,58}</string>
                <key>spriteSourceSize</key>
                <string>{56,58}</string>
                <key>textureRect</key>
                <string>{{352,627},{56,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clock.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.515625,0.497436}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,195}</string>
                <key>spriteSourceSize</key>
                <string>{192,195}</string>
                <key>textureRect</key>
                <string>{{1,337},{192,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,69}</string>
                <key>spriteSourceSize</key>
                <string>{233,69}</string>
                <key>textureRect</key>
                <string>{{195,485},{233,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,72}</string>
                <key>spriteSourceSize</key>
                <string>{235,72}</string>
                <key>textureRect</key>
                <string>{{195,337},{235,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamemenu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.470588,0.535928}</string>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{440,334}</string>
                <key>spriteSourceSize</key>
                <string>{442,334}</string>
                <key>textureRect</key>
                <string>{{1,1},{440,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lastone.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,114}</string>
                <key>spriteSourceSize</key>
                <string>{71,114}</string>
                <key>textureRect</key>
                <string>{{236,627},{71,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lastthree.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,114}</string>
                <key>spriteSourceSize</key>
                <string>{95,114}</string>
                <key>textureRect</key>
                <string>{{1,534},{95,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lasttwo.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,114}</string>
                <key>spriteSourceSize</key>
                <string>{92,114}</string>
                <key>textureRect</key>
                <string>{{98,534},{92,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,20}</string>
                <key>spriteSourceSize</key>
                <string>{15,20}</string>
                <key>textureRect</key>
                <string>{{236,700},{15,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>num1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,20}</string>
                <key>spriteSourceSize</key>
                <string>{10,20}</string>
                <key>textureRect</key>
                <string>{{352,687},{10,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>num2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,20}</string>
                <key>spriteSourceSize</key>
                <string>{14,20}</string>
                <key>textureRect</key>
                <string>{{443,290},{14,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,21}</string>
                <key>spriteSourceSize</key>
                <string>{14,21}</string>
                <key>textureRect</key>
                <string>{{410,627},{14,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,21}</string>
                <key>spriteSourceSize</key>
                <string>{16,21}</string>
                <key>textureRect</key>
                <string>{{192,627},{16,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,21}</string>
                <key>spriteSourceSize</key>
                <string>{14,21}</string>
                <key>textureRect</key>
                <string>{{443,267},{14,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,20}</string>
                <key>spriteSourceSize</key>
                <string>{14,20}</string>
                <key>textureRect</key>
                <string>{{459,267},{14,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,20}</string>
                <key>spriteSourceSize</key>
                <string>{15,20}</string>
                <key>textureRect</key>
                <string>{{258,700},{15,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>num8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,21}</string>
                <key>spriteSourceSize</key>
                <string>{15,21}</string>
                <key>textureRect</key>
                <string>{{210,627},{15,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,21}</string>
                <key>spriteSourceSize</key>
                <string>{14,21}</string>
                <key>textureRect</key>
                <string>{{410,650},{14,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.517857,0.589286}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{443,209},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>restart0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,72}</string>
                <key>spriteSourceSize</key>
                <string>{234,72}</string>
                <key>textureRect</key>
                <string>{{195,411},{234,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>restart1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,69}</string>
                <key>spriteSourceSize</key>
                <string>{233,69}</string>
                <key>textureRect</key>
                <string>{{1,650},{233,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,72}</string>
                <key>spriteSourceSize</key>
                <string>{234,72}</string>
                <key>textureRect</key>
                <string>{{431,411},{234,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>select1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,69}</string>
                <key>spriteSourceSize</key>
                <string>{233,69}</string>
                <key>textureRect</key>
                <string>{{192,556},{233,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>puase.png</string>
            <key>size</key>
            <string>{504,720}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a90f3fd6684e3699ac56affcade4ce30:14ea1a799150caf2b4165087887eea89:9d8dcf975013a6dbec522cd338aa22cc$</string>
            <key>textureFileName</key>
            <string>puase.png</string>
        </dict>
    </dict>
</plist>
