<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_1_die_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-230}</string>
                <key>spriteSize</key>
                <string>{162,142}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,1243},{162,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_1_die_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-231}</string>
                <key>spriteSize</key>
                <string>{162,140}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,1387},{162,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_1_die_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-238}</string>
                <key>spriteSize</key>
                <string>{160,134}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,1529},{160,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_1_die_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-237}</string>
                <key>spriteSize</key>
                <string>{168,132}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,645},{168,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_1_die_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-228}</string>
                <key>spriteSize</key>
                <string>{166,146}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,779},{166,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_1_die_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-223}</string>
                <key>spriteSize</key>
                <string>{162,156}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,1085},{162,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_1_die_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-223}</string>
                <key>spriteSize</key>
                <string>{164,156}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,927},{164,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_1_die_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-223}</string>
                <key>spriteSize</key>
                <string>{172,156}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,487},{172,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_1_die_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-222}</string>
                <key>spriteSize</key>
                <string>{172,158}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,327},{172,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_1_die_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-221}</string>
                <key>spriteSize</key>
                <string>{174,160}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,165},{174,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_1_die_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-222}</string>
                <key>spriteSize</key>
                <string>{176,162}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,1},{176,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>monster_1_die.png</string>
            <key>size</key>
            <string>{178,1664}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d58898d99ce06d664267b6ee8f5f0bc:82a3a198e5a2c714a1ec31b1291bca7f:fbc49eae799a37e6d1384cbced9ec8fc$</string>
            <key>textureFileName</key>
            <string>monster_1_die.png</string>
        </dict>
    </dict>
</plist>
