<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_4-move_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-65}</string>
                <key>spriteSize</key>
                <string>{352,480}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,485},{352,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_4-move_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-66}</string>
                <key>spriteSize</key>
                <string>{352,478}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{355,483},{352,478}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_4-move_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-67}</string>
                <key>spriteSize</key>
                <string>{354,476}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,967},{354,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_4-move_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-70}</string>
                <key>spriteSize</key>
                <string>{352,470}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{479,963},{352,470}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_4-move_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-70}</string>
                <key>spriteSize</key>
                <string>{348,470}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1427,1047},{348,470}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_4-move_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-68}</string>
                <key>spriteSize</key>
                <string>{348,474}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{951,959},{348,474}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_4-move_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-67}</string>
                <key>spriteSize</key>
                <string>{348,476}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{709,481},{348,476}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_4-move_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-68}</string>
                <key>spriteSize</key>
                <string>{346,474}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1427,1},{346,474}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_4-move_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-69}</string>
                <key>spriteSize</key>
                <string>{346,472}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1427,699},{346,472}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_4-move_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-70}</string>
                <key>spriteSize</key>
                <string>{348,470}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1059,1},{348,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_4-move_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-70}</string>
                <key>spriteSize</key>
                <string>{348,470}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1059,473},{348,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_4-move_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-69}</string>
                <key>spriteSize</key>
                <string>{348,472}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1427,349},{348,472}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_4-move_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-66}</string>
                <key>spriteSize</key>
                <string>{348,478}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{709,1},{348,478}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_4-move_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-64}</string>
                <key>spriteSize</key>
                <string>{352,482}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,1},{352,482}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_4-move_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-65}</string>
                <key>spriteSize</key>
                <string>{352,480}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{355,1},{352,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>monster_4_move.png</string>
            <key>size</key>
            <string>{1902,1396}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:021815ce8caa6215caac3fc737838d93:70761e6ae58c65b3b73a40ca7beb530e:d2862f66f6745af2bbdf96423d64cc43$</string>
            <key>textureFileName</key>
            <string>monster_4_move.png</string>
        </dict>
    </dict>
</plist>
