<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_3_move_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-118}</string>
                <key>spriteSize</key>
                <string>{298,370}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{343,373},{298,370}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_3_move_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-119}</string>
                <key>spriteSize</key>
                <string>{298,372}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{307,1579},{298,372}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_3_move_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-121}</string>
                <key>spriteSize</key>
                <string>{298,368}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{343,673},{298,368}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_3_move_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-118}</string>
                <key>spriteSize</key>
                <string>{304,370}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,1505},{304,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_3_move_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-116}</string>
                <key>spriteSize</key>
                <string>{324,378}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,751},{324,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_3_move_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-115}</string>
                <key>spriteSize</key>
                <string>{340,376}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,373},{340,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_3_move_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-118}</string>
                <key>spriteSize</key>
                <string>{350,370}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,1},{350,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_3_move_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-121}</string>
                <key>spriteSize</key>
                <string>{342,368}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{353,1},{342,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_3_move_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-119}</string>
                <key>spriteSize</key>
                <string>{322,372}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,1131},{322,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_3_move_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-116}</string>
                <key>spriteSize</key>
                <string>{304,378}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{327,973},{304,378}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_3_move_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-116}</string>
                <key>spriteSize</key>
                <string>{298,378}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{325,1279},{298,378}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>monster_3_move.png</string>
            <key>size</key>
            <string>{714,1878}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddec3c7e2a659b96fc2a589fc58f3bf4:09b4f415fd2a1b67dd1a1c934b8d0439:a6fee16ad401629c051e746ad5b4b7f6$</string>
            <key>textureFileName</key>
            <string>monster_3_move.png</string>
        </dict>
    </dict>
</plist>
