<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_2_die_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-110}</string>
                <key>spriteSize</key>
                <string>{364,394}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{375,1},{364,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_2_die_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-110}</string>
                <key>spriteSize</key>
                <string>{362,394}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{741,1},{362,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_2_die_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-109}</string>
                <key>spriteSize</key>
                <string>{354,392}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{749,397},{354,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_2_die_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-106}</string>
                <key>spriteSize</key>
                <string>{346,394}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1105,1},{346,394}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_2_die_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-105}</string>
                <key>spriteSize</key>
                <string>{336,396}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1105,349},{336,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_2_die_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-110}</string>
                <key>spriteSize</key>
                <string>{332,390}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1443,709},{332,390}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_2_die_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-121}</string>
                <key>spriteSize</key>
                <string>{342,380}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1443,365},{342,380}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_2_die_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-126}</string>
                <key>spriteSize</key>
                <string>{362,374}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1501,1},{362,374}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_2_die_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-132}</string>
                <key>spriteSize</key>
                <string>{374,388}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{373,397},{374,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_2_die_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-133}</string>
                <key>spriteSize</key>
                <string>{372,394}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,1},{372,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_2_die_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-133}</string>
                <key>spriteSize</key>
                <string>{370,394}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,397},{370,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>monster_2_die.png</string>
            <key>size</key>
            <string>{1876,1042}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c13cb386135293ca67f80171706d93ed:b67615f0adfb2a5034175321eecb92b4:3e85ce2e5dffbe5bd9fb2b144dad9568$</string>
            <key>textureFileName</key>
            <string>monster_2_die.png</string>
        </dict>
    </dict>
</plist>
