<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_2_move_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-114}</string>
                <key>spriteSize</key>
                <string>{384,404}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,1387},{384,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_2_move_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-113}</string>
                <key>spriteSize</key>
                <string>{384,400}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{399,975},{384,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_2_move_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-112}</string>
                <key>spriteSize</key>
                <string>{394,396}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{765,409},{394,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_2_move_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-198}</string>
                <key>spriteSize</key>
                <string>{402,564}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,1},{402,564}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_2_move_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-118}</string>
                <key>spriteSize</key>
                <string>{406,396}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,979},{406,396}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_2_move_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-116}</string>
                <key>spriteSize</key>
                <string>{406,390}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{373,567},{406,390}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_2_move_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-119}</string>
                <key>spriteSize</key>
                <string>{406,388}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{405,1},{406,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_2_move_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-119}</string>
                <key>spriteSize</key>
                <string>{388,390}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{755,1377},{388,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_2_move_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-119}</string>
                <key>spriteSize</key>
                <string>{374,394}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{795,1},{374,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_2_move_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-119}</string>
                <key>spriteSize</key>
                <string>{366,402}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{387,1387},{366,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_2_move_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-119}</string>
                <key>spriteSize</key>
                <string>{370,410}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,567},{370,410}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>monster_2_move.png</string>
            <key>size</key>
            <string>{1170,1792}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:291c3885a22ddf5a34deb4738fe02e52:6f8d3576e00bbe85fc10197e99266d44:1006cc7e1a231ca99d36dfec6e14844b$</string>
            <key>textureFileName</key>
            <string>monster_2_move.png</string>
        </dict>
    </dict>
</plist>
