<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_4_die_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-71}</string>
                <key>spriteSize</key>
                <string>{368,468}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1403,969},{368,468}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_4_die_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-70}</string>
                <key>spriteSize</key>
                <string>{364,470}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1535,497},{364,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_4_die_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-68}</string>
                <key>spriteSize</key>
                <string>{378,474}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{927,949},{378,474}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_4_die_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-67}</string>
                <key>spriteSize</key>
                <string>{438,476}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,931},{438,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_4_die_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-56}</string>
                <key>spriteSize</key>
                <string>{494,498}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1095,1},{494,498}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_4_die_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-77}</string>
                <key>spriteSize</key>
                <string>{450,482}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1051,497},{450,482}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_4_die_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-144}</string>
                <key>spriteSize</key>
                <string>{412,446}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{479,931},{412,446}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_4_die_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,-150}</string>
                <key>spriteSize</key>
                <string>{496,458}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{553,461},{496,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_4_die_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{62,-144}</string>
                <key>spriteSize</key>
                <string>{548,462}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,467},{548,462}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_4_die_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{67,-143}</string>
                <key>spriteSize</key>
                <string>{550,464}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,1},{550,464}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_4_die_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{72,-144}</string>
                <key>spriteSize</key>
                <string>{540,458}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{553,1},{540,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>monster_4_die.png</string>
            <key>size</key>
            <string>{1900,1370}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e02837bf077b0e36e63e120bbf11988f:1266bf75da4d4ad3786a5f42b144ea8b:3df99673e041cd4fdcf9f8d0587b01e3$</string>
            <key>textureFileName</key>
            <string>monster_4_die.png</string>
        </dict>
    </dict>
</plist>
