<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_1_move_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-229}</string>
                <key>spriteSize</key>
                <string>{148,144}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,701},{148,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_1_move_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-229}</string>
                <key>spriteSize</key>
                <string>{148,144}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{151,703},{148,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_1_move_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-229}</string>
                <key>spriteSize</key>
                <string>{148,144}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{301,705},{148,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_1_move_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-230}</string>
                <key>spriteSize</key>
                <string>{148,142}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{165,559},{148,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_1_move_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-231}</string>
                <key>spriteSize</key>
                <string>{150,140}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,417},{150,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_1_move_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-232}</string>
                <key>spriteSize</key>
                <string>{152,138}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{325,139},{152,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_1_move_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-232}</string>
                <key>spriteSize</key>
                <string>{154,138}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,277},{154,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_1_move_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-233}</string>
                <key>spriteSize</key>
                <string>{154,136}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,1},{154,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_1_move_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-233}</string>
                <key>spriteSize</key>
                <string>{158,136}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{157,1},{158,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_1_move_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-233}</string>
                <key>spriteSize</key>
                <string>{160,136}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{317,1},{160,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_1_move_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-233}</string>
                <key>spriteSize</key>
                <string>{160,136}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,139},{160,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_1_move_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-233}</string>
                <key>spriteSize</key>
                <string>{160,136}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{163,139},{160,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_1_move_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-232}</string>
                <key>spriteSize</key>
                <string>{162,138}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{157,277},{162,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_1_move_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-232}</string>
                <key>spriteSize</key>
                <string>{164,138}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{321,279},{164,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_1_move_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-231}</string>
                <key>spriteSize</key>
                <string>{164,140}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{153,417},{164,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_1_move_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-231}</string>
                <key>spriteSize</key>
                <string>{162,140}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{319,419},{162,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_1_move_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-229}</string>
                <key>spriteSize</key>
                <string>{162,140}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,559},{162,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_1_move_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-230}</string>
                <key>spriteSize</key>
                <string>{160,142}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{315,561},{160,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_1_move_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-230}</string>
                <key>spriteSize</key>
                <string>{158,146}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{153,997},{158,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_1_move_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-229}</string>
                <key>spriteSize</key>
                <string>{158,144}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{151,851},{158,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_1_move_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-229}</string>
                <key>spriteSize</key>
                <string>{154,144}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{311,851},{154,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_1_move_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-228}</string>
                <key>spriteSize</key>
                <string>{154,146}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{313,997},{154,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_1_move_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-228}</string>
                <key>spriteSize</key>
                <string>{152,146}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{153,1145},{152,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_1_move_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-228}</string>
                <key>spriteSize</key>
                <string>{152,146}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{307,1145},{152,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_1_move_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-228}</string>
                <key>spriteSize</key>
                <string>{150,146}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,1143},{150,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_1_move_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-229}</string>
                <key>spriteSize</key>
                <string>{150,144}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,997},{150,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_1_move_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-229}</string>
                <key>spriteSize</key>
                <string>{148,144}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,847},{148,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>monster_1_move.png</string>
            <key>size</key>
            <string>{486,1292}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1532212e33243879ff755d9be72b105:d780796c0b6ce26bd6629b4120b62f68:c4ae8d25dd6104cafdb11fde0b197645$</string>
            <key>textureFileName</key>
            <string>monster_1_move.png</string>
        </dict>
    </dict>
</plist>
